<style media="screen">
  body{
    background:#03211F;
    margin:50px 50px 50px 50px;
    font-family:code;
    color:white;
  }
  img{
    max-width:400px;
    }
    a {
    padding:15px 15px 15px 15px;
    font-size:20px;
    background:#1f85de;
    font-weight:600;
    color:white;
    border-radius:3%;
  }
</style>
<h1> Random Dog </h1>

<a href="/randomDogs" id="#dogs" type="button">Another Dog</a>
<a href="/randomCats">Random Cats</a>
<br>
<br>
<br>
<img src="<%= url %>" alt="image">
<br>
<br>
<br>
<a href="/">Back To HomePage</a>
<br>
<br>
<br>
